
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);


.btn:active, .btn:focus, a:active, a:focus { outline: 0 }

html
{
    /** sticky footer styles **/
    position:   relative;
    min-height: 100%;
}

body
{
    color:         #333;
    background:    #f1f1f1;
    margin-bottom: 75px;    /** sticky footer style **/

    font-size:   13px;
    line-height: 1.42857143;
    font-family: 'Open Sans', sans-serif;

}

.main-container
{
    padding-top: 20px;
    background:  #fff;
}


/**
 * Header
 */
header
{
    padding-top: 10px;
    background: #f1f1f1;
}

header .well
{
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
        -ms-box-shadow: none;
         -o-box-shadow: none;

    box-shadow:  none;
    padding:     0;
    border:      0;
    padding-top: 20px;

    background: transparent;
}

header .logo span
{
    color:     #333;
    font-size: 35px;
}


/**
 * Navbar
 */
.navbar-custom
{
    background-color: #4a4a4a;
    border-color:     #101010;

    margin-bottom: 0;
    border: 0;
}

.navbar li a
{
    font-size:      17px;
    color:          #fff !important;
    text-transform: uppercase;
    font-family:    'Open Sans Condensed', sans-serif;

        -ms-transition: all 100ms ease-in-out 0s;
       -moz-transition: all 100ms ease-in-out 0s;
    -webkit-transition: all 100ms ease-in-out 0s;
         -o-transition: all 100ms ease-in-out 0s;
            transition: all 100ms ease-in-out 0s;
}

.navbar li a:hover,
.navbar li a.active
{
    background-color: #428bca !important;
}

.navbar-custom .navbar-nav>.active>a,
.navbar-custom .navbar-nav>.active>a:hover,
.navbar-custom .navbar-nav>.active>a:focus
{
    background-color: #428bca !important;
}

/* nav dropdown menu */
.nav ul li a
{
    font-family:    Arial;
    font-size:      15px;
    color:          #333 !important;
    text-transform: inherit;
}

.nav ul li a:hover
{
    background-color: #f1f1f1 !important;
}


section
{
    margin-bottom: 20px;
}


/**
 * Home Section
 */
span.title
{
    display:        block;
    font-size:      23px;
    border-bottom:  3px solid #eee;
    padding-bottom: 8px;
    margin-bottom:  20px;
    color:          #4c7ed3;
    font-family:    'Open Sans Condensed', sans-serif;
}

/* Caption Style */
.grid
{
    padding:    0px 20px 100px 20px;
    max-width:  1300px;
    margin:     0 auto;
    list-style: none;
    text-align: center;
}

.grid li
{
    display:    inline-block;
    width:      350px;
    margin:     0;
    padding:    20px;
    text-align: left;
    position:   relative;
}

.grid figure
{
    margin:   0;
    position: relative;
}

.grid figure img
{
    max-width: 100%;
    display:   block;
    position:  relative;
}

.grid figcaption
{
    position: absolute;
    top:      0;
    left:     0;
    padding:  20px;

    background: #4a4a4a;
    color:      #ddd13e;
}

.grid figcaption h4
{
    margin:  0;
    padding: 0;
    color:   #fff;
}

.grid figcaption a
{
    padding:        5px 10px;
    border-radius:  2px;
    display:        inline-block;
    background:     #ddd13e;
    color:          #fff;
}

.caption-style figure
{
    overflow: hidden;
}

.caption-style figure img
{
    -webkit-transition: -webkit-transform 0.4s;
       -moz-transition: -moz-transform 0.4s;
            transition: transform 0.4s;
}

.caption-style figure:hover img,
.caption-style figure.cs-hover img
{
    -webkit-transform: translateY(-50px);
       -moz-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
            transform: translateY(-50px);
}

.caption-style figcaption
{
    height:  100px;
    width:   100%;
    top:     auto;
    bottom:  0;
    opacity: 0;

    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);

    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
       -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
            transition: transform 0.4s, opacity 0.1s 0.3s;
}

.caption-style figure:hover figcaption,
.caption-style figure.cs-hover figcaption
{
    opacity: 1;

    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);

    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
       -moz-transition: -moz-transform 0.4s, opacity 0.1s;
            transition: transform 0.4s, opacity 0.1s;
}

.caption-style figcaption a
{
    position: absolute;
    bottom:   20px;
    right:    20px;
}


/**
 * Products Section
 */
div .thumbnail:hover
{
    box-shadow: 0 0 10px 2px #f1f1f1;
}

.product-image
{
    display:        block;
    height:         auto;
    width:          100%;
    max-width:      100%;
    margin-right:   auto;
    margin-left:    auto;
}

.thumbnail .caption
{
    padding: 9px;
}

.prod-caption
{
    background: #fbfbfb;
    border-top: 1px solid #ddd;
}

.prod-caption h4
{
    font-size:  16px;
    height:     40px;
    overflow:   hidden;
}

.prod-caption p
{
    margin-bottom: 10px;
}

.btn-group .btn.disabled
{
    opacity: 1;
}

/** categories list-group **/
.list-categ a
{
    /*font-family: 'DroidSansRegular';*/
    background:  #fbfbfb;

        -ms-transition: all 100ms ease-in-out 0s ;
       -moz-transition: all 100ms ease-in-out 0s ;
    -webkit-transition: all 100ms ease-in-out 0s ;
         -o-transition: all 100ms ease-in-out 0s ;
            transition: all 100ms ease-in-out 0s ;
}

.list-categ a:hover
{
    background: #fff;
    color:      #428bca;
}


/**
 * Footer
 */
footer
{
    position: absolute;
    bottom:   0;
    width:    100%;
    height:   75px;

    color:            #aaa;
    background-color: #25221e;
}

footer p
{
    margin: 25px 0;
}
