<section class="row" data-ng-controller="ProductsCtrl">
    <!-- Categories -->
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-12">

                <!-- breadcrumb -->
                <ol class="breadcrumb">
                    <li><a href="#home">Início</a></li>
                    <li class="active">Produtos</li>
                </ol>
                <!-- /.breadcrumb -->

                <!-- Categories -->
                <div class="col-lg-12 col-md-12 col-sm-6">
                    <div class="no-padding">
                        <span class="title">CATEGORIES</span>
                    </div>
                    <div class="list-group list-categ">
                        <a class="list-group-item"
                           data-ng-repeat="category in categories"
                           data-ng-href="#{{ category.name | lowercase }}">{{ category.name }}</a>
                    </div>
                </div>
                <!-- /.Categories -->
            </div>

            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="col-lg-12 col-sm-12">
                    <span class="title">MEL</span>
                </div>
                    <div class="col-lg-4 col-md-4 col-xs-6 thumb"
                     data-ng-repeat="product in products | filter: { category: 'mel' }">
                    <div class="thumbnail">
                        <a class="product-image" data-ng-href="">
                            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                        </a>
                        <div class="caption prod-caption">
                            <h4><a href="">{{ product.name }}</a></h4>
                            <p>{{ product.description }}</p>
                            <p>
                                <div class="btn-group">
                                    <button class="btn btn-default disabled">€ 27.25</button>
                                    <a href="" class="btn btn-primary"><i class="fa fa-home"></i> Revendedor</a>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Categories -->
</section>
